*.pyc
node_modules/
_build/
dev.db
site_media/
bin/
include/
lib/
local/
local_settings.py
logfile
send_mail.log
dev.db
site_media
share
cron_mail.log
cron_mail_deferred.log
logs*
pip-selfcheck.json
server.log
share/
logs/*.*
logs*
matriculas/local_settings.*
pip-selfcheck.json
send_mail.log
server.log
local_settings.py
logfile
.idea
cambridge.json
cambridge_data.json
*.sql
Pipfile
pyvenv.cfg
