gunicorn
pinax-theme-bootstrap==7.8.0
xlwt
django-excel-response
django-countries==1.1.1
django-localflavor==1.2
pisa==3.0.33
html5lib==0.9999
reportlab==2.7
xhtml2pdf==0.0.6
django_xhtml2pdf==0.0.3
pycrypto
mysqlclient
python-dateutil
django-cookie-law
Django-appconf==1.0.2
jsonfield==2.1.1
