{% extends "site_base.html"%}

{% load i18n %}

{% block body %}
<table>
    <thead>
        <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Imprimir</td>
        </tr>
    </thead>
    <tbody>
    {% for matricula in object_list %}
    <tr>
    <td> <a href="{% url matricula_detalle matricula.id %}">{{ matricula.id }}</a> </td>
    <td>{{ matricula.name }}</td>
    <td>{{ matricula.surname }}</td>
    <td><a href="{% url matricula_imprimir matricula.id %}"><i class="icon-print">_</i><i class="icon-search"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
