{% extends "site_base.html"%}

{% load i18n %}

{% block body %}

<!-- 
<p>
<a class="btn btn-success" href="#">Bajar como fichero excel</a></li>
</p>
-->
<h2>Lista de Inscripciones</h2>
<table class="table">
    <thead>
        <tr>
	    <td>{% trans "Nombre" %}</td>
            <td>Curso</td>
            <td>Nivel Actual</td>
	    <td>Titulación</td>
	    <td>Estudios superiorioes</td>
            <td>Email</td>
            <td>Telefono</td>
            <td>Fecha Nac.</td>
<!--
            <td>Acciones</td>
-->
        </tr>
    </thead>
    <tbody>
        {% for matricula in object_list %}
        <tr>
            <td> <a href="{% url inscripciones_detalle matricula.id %}">{{ matricula.surname }},{{ matricula.name }}</a></td>
	    <td>{{ matricula.get_course_display}}</td>
	    <td>{{ matricula.get_english_level_display}}</td>
	    <td>{{ matricula.english_qualification}}</td>
	    <td>{{ matricula.estudios_superiores|yesno:"sí,no,quizá" }}</td>
	    <td><a href="mailto:{{ matricula.email}}">{{ matricula.email}}</a></td>
	    <td>{{ matricula.telephone}}</td>
	    <td>{{ matricula.birth_date}}</td>
<!--
            <td>
		<a class="btn primary small" href="{% url inscripciones_detalle matricula.id %}">Detalles</a>
		<a class="btn small" href="{% url inscripciones_edit matricula.id %}">Editar</a> 
                
                <a class="btn small" href="{% url inscripciones_delete matricula.id %}">{% trans "Delete" %}</a>
            </td>
-->
        </tr>
    {% endfor %}
    </tbody>
</table>
	<a class="btn primary pull-left" href="{% url inscripciones_nueva %}" >Nueva matricula</a> 
{% endblock %}
