{% extends "site_base.html"%}
{% load i18n %}
{% block body %}
    <TITLE>P&aacute;gina de pago</TITLE>
    <h1>Realizar pago Online</h1>

<div id="normativa_pago" class="well well-small" style="text-align: justify; text-justify: newspape" > 
Vamos aproceder al pago de la matricula a través de tarjeta de crédito. Lo operación tendrá el identificardor 
<b>{{payament_info.order_id}}</b> y un importe de <b>{{amount}}</b>.

</div> 
<p class="well well-big"> Cuando hago click en "Pasar a pagar" será redirigido a la pasarela de pago de nuestra entidad bancaraia. En ningun momento EIDE tendrá acceso a sus datos 
bancarios.
</p>

<FORM ACTION="{{ payament_info.action_url }}" METHOD="POST" ENCTYPE="application/x-www-form-urlencoded">
<INPUT id="merchant" NAME="MerchantID" TYPE=hidden VALUE="{{ payament_info.MerchantID }}">
<INPUT id="acquire" NAME="AcquirerBIN" TYPE=hidden VALUE="{{ payament_info.AcquirerBIN }}">
<INPUT id="terminal" NAME="TerminalID" TYPE=hidden VALUE="{{ payament_info.TerminalID }}">
<INPUT id="url_ok" NAME="URL_OK" TYPE=hidden VALUE="{{ payament_info.url_ok }}">
<INPUT id="url_nok" NAME="URL_NOK" TYPE=hidden VALUE="{{ payament_info.url_nok }}">
<INPUT id="firma" NAME="Firma" readonly TYPE=hidden VALUE="{{ payament_info.firma }}"><br />
<INPUT NAME="Cifrado" TYPE=hidden VALUE="{{ payament_info.cifrado }}">
<INPUT id="num_operacion" NAME="Num_operacion" TYPE=hidden VALUE="{{ payament_info.order_id }}"><br />
<INPUT id="importe" NAME="Importe" READONLY TYPE=hidden VALUE={{ payament_info.amount }}><br />
<INPUT id="tipo_moneda" NAME="TipoMoneda" TYPE=hidden VALUE={{ payament_info.tipo_moneda }}>
<INPUT id="exponente" NAME="Exponente" TYPE=hidden VALUE={{ payament_info.exponente }}>
<INPUT NAME="Pago_soportado" TYPE=hidden VALUE=SSL>
<CENTER>
<INPUT TYPE="submit" VALUE="Pasar a pagar">

</FORM>
{% endblock %}
