{% load i18n %}
<div class="hero-unit">
    <h6>{% trans "Aviso Cookies" %}</h6>
    <p>Utilizamos cookies propias y de terceros para mejorar nuestros servicios y mostrarle publicidad relacionada con sus preferencias mediante el análisis de sus hábitos de navegación. Si continua navegando, consideramos que acepta su uso. Puede cambiar la configuración u obtener más información <a href="{% url cookies %}">aquí</a>.</p>
    <a class="btn primary large" href="javascript:Cookielaw.createCookielawCookie();">{% trans "Acepto" %}</a>
</div>


