{% extends "site_base.html"%}

{% load i18n %}

{% block body %}

<h1>Preinscripción para {{ registration.get_curso_display }}</h1>
<table class="table">
	<tr>
		<td><b>Nivel</b></td><td> {{registration.get_curso_display}} </td>
	</tr>
	<tr>
		<td><b>Horarios</b></td>
		<td> -
			{%for horario in registration.horarios.all %}
				{{ horario.name }} -
			{% endfor %}
		</td>
	</tr>
	<tr>
		<td><b>Nombre y Apellidos</b></td><td>{{ registration.name }} {{ registration.surname }}</td>
	</tr>
	<tr>
		<td><b>Fecha registro</b></td><td> {{registration.registration_date}} </td>
	</tr>
	<tr>
		<td><b>Dirección</b></td><td>{{registration.location}}</td>
	</tr>
	<tr>
		<td><b>Fecha Nacimiento</b></td><td>{{registration.birth_date}}</td>
	</tr>
	<tr>
		<td><b>Email</b></td><td>{{registration.email}}</td>
	</tr>
	<tr>
		<td><b>Nivel de Ingles</b></td><td>{{registration.get_nivel_ingles_display}}</td>
	</tr>
	<tr>
		<td><b></b></td><td>{{registration.}}</td>
	</tr>	
</table>

<a class="btn primary" href="{% url intesivos_list %}">Volver</a>
<button class="button" href="">Imprimir</button>

{% endblock %}
