<div class="alert-mesagge block-message alert">
<p>En cumplimiento con los establecido en la Ley Orgánica 15/99 de Protección de Datos de Carácter Personal, los datos de carácter personal que nos facilite serán utilizados en la forma y con las limitaciones y derechos que recoge la Ley y pasarán a formar parte de un fichero propiedad de EIDE. Estos datos son necesarios para la gestión de los cursos de Hobetuz. Al facilitarnos sus datos personales consiente el tratamiento informatizado o no de los mismos por EIDE para los fines anteriormente citados.</p>
</div>

<div class="alert-mesagge block-message alert">
		<ul>
			<li>Forma de pago: 100 € al realizar la inscripción, el resto el primer día de clase.</li>
			<li>NOTA1: EIDE se reserva el derecho de cancelar el cursillo si no hubiera el número mínimo de 5 alumnos, en cuyo caso se devolverá el dinero entregado por el alumno. Si el curso se realiza  no se devolverá el importe de la matrícula.  Fecha límite de inscripción: 22/12/2015</li>
			<li>Nota2: El importe del curso NO se devolverá si algún alumno se da de baja una vez comenzado el mismo.</li>
		</ul>
</div>
