{% extends "site_base.html"%}

{% load i18n %}

{% block body %}
<p>
<a class="btn btn-success" href="#">Bajar como fichero excel</a></li>
</p>
<hr />
<table class="table">
    <thead>
        <tr>
            <td>ID</td>
            
            <td>{% trans "Nombre" %}</td>
            <td>{% trans "Apellidos" %}</td>
            <td>Intensivo</td>
            <td>Acciones</td>
            
        </tr>
    </thead>
    <tbody>
        {% for matricula in object_list %}
        <tr>
            <td> <a href="{% url intensivos_detalle matricula.id %}">{{ matricula.id }}</a> </td>
            
            <td>{{ matricula.surname }},{{ matricula.name }}</td>
			<td>{{ matricula.curso}}</td>
			<td>{{ matricula.get_nivel_ingles_display}}</td>
            
            
            <td>
		<a class="btn primary" href="{% url intensivos_detalle matricula.id %}">Detalles</a>
		<a class="btn" href="{% url intensivos_edit matricula.id %}">Editar</a> 
                <!-- <a class="btn" href="{% url cocina_imprimir matricula.id %}">{% trans "Print" %}</a> -->
                <a class="btn" href="{% url intensivos_delete matricula.id %}">{% trans "Delete" %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
