{% extends "site_base.html"%}
{% load i18n %}
{% load bootstrap_tags %}

{% block extra_head %}

<script>
	function comprobar_aceptacion() {
		console.log("Comprobamos de las condiciones");
		acepta = false;
		if ($("#id_accept_conditions").is(":checked"))
		{
		    console.log("Condiciones generales aceptadas");
			acepta = true;
		}
		if (acepta) {
		    console.log("Dice que las acepta");
		    $("#send_form").prop('disabled', false);
		    console.log("Ocultamos el aviso");
		    $("#aviso_condiciones").hide();
		}else {
		    //Deshabilitamos el envio hasta que acepten las condiciones
			console.log("Dice que NO las acepta");
			$("#send_form").prop('disabled', true);
		    console.log("Mostramos el aviso");
		    $("#aviso_condiciones").show();
		}
    }
	function comprobar_desempleado() {
		console.log("Han hecho click en el check de desempleado");
		if ($("#id_desempleado").is(":checked")) {
			console.log("Dice que esta desempleado");
			
			$("#id_fecha_desempleo").prop('disabled', false);
			
			$("#id_empresa_nombre").prop('disabled', true);
			$("#id_empresa_puesto").prop('disabled', true);
			$("#id_empresa_actividad").prop('disabled', true);
			
	    
	   }else {
			//Deshabilitamos el envio hasta que acepten las condiciones
			console.log("Dice que NO está desempleado");
			$("#id_fecha_desempleo").prop('disabled', true);
			
			$("#id_empresa_nombre").prop('disabled', false);
			$("#id_empresa_puesto").prop('disabled', false);
			$("#id_empresa_actividad").prop('disabled', false);
			
					
		}
	};
	$(document).ready(function() {
		$("#id_birth_date").datepicker({format: "dd-mm-yyyy",weekStart: 1});
	    	$("#normativa_general").hide();
		//Comprobamos si se puede enviar
	    	comprobar_aceptacion();
        	comprobar_desempleado();
        	//Control de la aceptación de las condiciones:
		$("#id_accept_conditions").change(comprobar_aceptacion);
	    	$("#id_desempleado").change(comprobar_desempleado);
            
	});            
</script>

{% endblock%}

{% block body %}

<h1>{% trans "Inscripción a un curso de Intensivo" %}</h1>


<div class="alert-mesagge block-message alert">
<p>En cumplimiento con los establecido en la Ley Orgánica 15/99 de Protección de Datos de Carácter Personal, los datos de carácter personal que nos facilite serán utilizados en la forma y con las limitaciones y derechos que recoge la Ley y pasarán a formar parte de un fichero propiedad de EIDE. Estos datos son necesarios para la gestión de los cursos de Hobetuz. Al facilitarnos sus datos personales consiente el tratamiento informatizado o no de los mismos por EIDE para los fines anteriormente citados.</p>
</div>

<div class="alert-mesagge block-message alert">
		<ul>
			<li>Forma de pago: 100 € al realizar la inscripción, el resto el primer día de clase.</li>
			<li>NOTA1: EIDE se reserva el derecho de cancelar el cursillo si no hubiera el número mínimo de 5 alumnos, en cuyo caso se devolverá el dinero entregado por el alumno. Si el curso se realiza  no se devolverá el importe de la matrícula.  Fecha límite de inscripción: 22/12/2015</li>
			<li>Nota2: El importe del curso NO se devolverá si algún alumno se da de baja una vez comenzado el mismo.</li>
		</ul>
</div>
<div>
    <h3>Elementary/Upper</h3>
    <table>
		<thead>
			<th>HORARIO</th>
			<th>DÍAS</th>
			<th>HORAS</th>
			<th>COMIENZO</th>
			<th>FINAL</th>
			<th>PRECIO</th>
		</thead>
		<tbody>
			<tr>
				<td>9:00:-11:00 ó 11:00-13.00</td>
				<td>Lu a Ju</td>
				<td>80</td>
				<td>11 Enero</td>
				<td>17 marzo</td>
				<td>550 €</td>
			</tr>
			<tr>
				<td>Lu 17:00-18:00 Ma y Ju 17:00-19:00 Mi 17:30-20:30</td>
				<td>Lu a Ju</td>
				<td>80</td>
				<td>11 Enero</td>
				<td>17 marzo</td>
				<td>550 €</td>
			</tr>
		</tbody>
		</table>
    <h3>FCE/CAE</h3>
    <table>
		<thead>
			<th>HORARIO</th>
			<th>DÍAS</th>
			<th>HORAS</th>
			<th>COMIENZO</th>
			<th>FINAL</th>
			<th>PRECIO</th>
		</thead>
		<tbody>
			<tr>
				<td>9:00:-11:00 ó 11:00-13.00</td>
				<td>Lu a Ju</td>
				<td>72</td>
				<td></td>
				<td></td>
				<td>505 €</td>
			</tr>
			<tr>
				<td>Lunes 16:00-19:00 Martes 16:00-17:00 Miercoles 16:00-18:00 Jueves 16:00-18:00</td>
				<td>Lu a Ju</td>
				<td>72</td>
				<td></td>
				<td></td>
				<td>505 €</td>
			</tr>
			<tr>
				<td>19.00 -20.30</td>
				<td>Lu a Ju</td>
				<td>54</td>
				<td></td>
				<td></td>
				<td>380 €</td>
			</tr>
		</tbody>
		</table>
</div>
<div class="row">
    <div class="span12">
		
	<form action="" method="post" class="form-horizontal" >{% csrf_token %}
	{{ form|as_bootstrap }}
    </div> 
</div>

<div class="row">
    <div class="span12">    
	<div class="well" id="aviso_condiciones">
	    {% trans "<b>¡Atención!.</b> Todavía no ha aceptado las condiciones. Si no acepta las condiciones generales no podrá enviar la matrícula." %}
	</div>
	<input id="send_form" class="btn primary pull-right" type="submit" value="{% trans 'Submit' %}" />
    </div> 
</div> 

{% endblock %}
