{% extends "site_base.html"%}

{% load i18n %}

{% block body %}


<div class="hero-unit">

    <h2>{% trans "Solicita un curso Intensivo" %}</h2>
    <br />
    <p>Inscripción a los cursos Intensivos de EIDE.</p>
    <h3>Elementary/Upper</h3>
    <table>
		<thead>
			<th>HORARIO</th>
			<th>DÍAS</th>
			<th>HORAS</th>
			<th>COMIENZO</th>
			<th>FINAL</th>
			<th>PRECIO</th>
		</thead>
		<tbody>
			<tr>
				<td>9:00:-11:00 ó 11:00-13.00</td>
				<td>Lu a Ju</td>
				<td>80</td>
				<td>11 Enero</td>
				<td>17 marzo</td>
				<td>550 €</td>
			</tr>
			<tr>
				<td>Lu 17:00-18:00 Ma y Ju 17:00-19:00 Mi 17:30-20:30</td>
				<td>Lu a Ju</td>
				<td>80</td>
				<td>11 Enero</td>
				<td>17 marzo</td>
				<td>550 €</td>
			</tr>
		</tbody>
		</table>
    <h3>FCE/CAE</h3>
    <table>
		<thead>
			<th>HORARIO</th>
			<th>DÍAS</th>
			<th>HORAS</th>
			<th>COMIENZO</th>
			<th>FINAL</th>
			<th>PRECIO</th>
		</thead>
		<tbody>
			<tr>
				<td>9:00:-11:00 ó 11:00-13.00</td>
				<td>Lu a Ju</td>
				<td>72</td>
				<td></td>
				<td></td>
				<td>505 €</td>
			</tr>
			<tr>
				<td>Lunes 16:00-19:00 Martes 16:00-17:00 Miercoles 16:00-18:00 Jueves 16:00-18:00</td>
				<td>Lu a Ju</td>
				<td>72</td>
				<td></td>
				<td></td>
				<td>505 €</td>
			</tr>
			<tr>
				<td>19.00 -20.30</td>
				<td>Lu a Ju</td>
				<td>54</td>
				<td></td>
				<td></td>
				<td>380 €</td>
			</tr>
		</tbody>
		</table>
    <p class="pagination-centered" >
		<ul>
			<li>Forma de pago: 100 € al realizar la inscripción, el resto el primer día de clase.</li>
			<li>NOTA1: EIDE se reserva el derecho de cancelar el cursillo si no hubiera el número mínimo de 5 alumnos, en cuyo caso se devolverá el dinero entregado por el alumno. Si el curso se realiza  no se devolverá el importe de la matrícula.  Fecha límite de inscripción: 22/12/2015</li>
			<li>Nota2: El importe del curso NO se devolverá si algún alumno se da de baja una vez comenzado el mismo.</li>
		</ul>
		<a class="btn primary large" href="{% url 'intensivos_nueva' %}">{% trans "Inscribirse" %}</a>
	</p>
</div>
{% endblock %}
