{% extends "site_base.html" %}
{% load i18n %}
{% load ifsetting_tag %}
{% block head_title %}{% trans "Welcome to EIDE's Online Registration System" %}{% endblock %}
{% block body %}
<div class="hero-unit">
    <h1>{% trans "Welcome to EIDE Online Registration" %}</h1>
    <p>
        {% blocktrans %}
        Wellcome to the Online Registration System of EIDE School. From 
        here yo can register to some of our courses or examns.
        {% endblocktrans %}
    </p>
    <a class="btn primary large" href="{% url cambridge %}">{% trans "Go to the registration for Cambridge Exams" %}</a>
</div>
{% endblock %}
