{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}


{% block styles %}
    {% include "_styles.html" %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}{% endblock %}
{% endblock %}

{% block nav %}

    {% spaceless %}
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="{% url 'cambridge'  %}" {% if user.is_authenticated %} class="dropdown-toggle" data-toggle="dropdown" {% endif %}>
            CAMBRIDGE
            <b class="caret"></b>
            </a>
            {% if user.is_authenticated %}
            <ul class="dropdown-menu">
            <li><a href="/admin/cambridge/level/">{% trans "Gestionar niveles" %}</a></li>
            <li><a href="{% url 'cambridge_exam_list' %}">{% trans "Lista de examenes" %}</a></li>
            <li><a href="{% url 'cambridge_exam_new' %}">{% trans "Nuevo examene" %}</a></li>
            <li><a href="{% url 'cambridge_list' %}">{% trans "Lista Matrículas" %}</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'cambridge_schools_list' %}">Schools</a></li>
            <li><a href="/admin/cambridge/schoollevel/">{% trans "Gestionar niveles" %}</a></li>
            <li><a href="{% url 'cambridge_schools_exam_list' %}">{% trans "Lista de examenes Schools" %}</a></li>
            <li><a href="{% url 'cambridge_schools_registration_list' %}">{% trans "Lista Matrículas" %}</a></li>
            <li class="divider"></li>
            <li class="divider"></li>
            <li><a href="{% url 'cambridge_venues_list' %}">Venues</a></li>
            <li><a href="/admin/cambridge/venue/">{% trans "Gestionar venues" %}</a></li>
            <li><a href="{% url 'cambridge_venues_exam_list' %}">{% trans "Lista de examenes Venue" %}</a></li>
            <li><a href="{% url 'cambridge_venues_registration_list' %}">{% trans "Lista Matrículas Venues" %}</a></li>
            
            </ul>
            {% endif %}
        </li>
        <li class="dropdown">
            <a href="{% url 'intensivos'  %}" {% if user.is_authenticated %} class="dropdown-toggle" data-toggle="dropdown" {% endif %}>
            INTENSIVOS
            <b class="caret"></b>
            </a>
            {% if user.is_authenticated %}
            <ul class="dropdown-menu">
            <li><a href="{% url 'intesivos_course_list' %}">{% trans "Lista Intensivos" %}</a></li>
            <li><a href="{% url 'intesivos_list' %}">{% trans "Lista Matrículas" %}</a></li>
            </ul>
            {% endif %}
        </li>
        
    </ul>
    {% endspaceless %}
{% endblock %}



{% block footer %}
    {% include "_footer.html" %}
{% endblock %}


{% block scripts %}
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
