{% extends "site_base.html"%}

{% load i18n %}


{% block body %}

<!-- required plugins -->
<script type="text/javascript" src="{{ STATIC_URL }}js//date.js"></script>
<!--[if IE]><script type="text/javascript" src="scripts/jquery.bgiframe.js"></script><![endif]-->

<!-- jquery.datePicker.js -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.datePicker.js"></script>
<link rel="stylesheet" href="{{ STATIC_URL }}css/datePicker.css">

<script>
$(function()
{
    console.log("Creando el date picker");
    $('input[name="fecha_nacimiento"]').datePicker();

});
</script>
    <h1>{% trans "Matricula: " %}{{matricula.id}}</h1>

    <form action="{% url matricula_edit %}" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input class="submit btn-form" type="submit" value="Guardar" />
      <a class="submit btn-form" href="{% url matricula_imprimir matricula.id %}">Imprimir</a>
      <a class="submit btn-form" href="{% url matricula_lista %}">Cancelar</a>
    </form>
{% endblock %}
