{% extends "site_base.html"%}
{% load i18n %}
{% load bootstrap_tags %}

{% block body %}
    <script>
        $(document).ready(function() {
            //Deshabilitamos el envio hasta que acepten las condiciones
            $("#send_form").prop('disabled', true);
            $("#id_centre_name").prop('disabled', false);
            
            //Control de la aceptación de las condiciones:
            $("#id_accept_conditions").change(function() {
                console.log("Han hecho click en el check de las condiciones");
                if ($("#id_accept_conditions").is(":checked")) {
                    console.log("Dice que las acepta");
                    $("#send_form").prop('disabled', false);
                }
                else {
                    console.log("Dice que NO las acepta");
                    $("#send_form").prop('disabled', true);
                }
            });
            //Control del Centre Name 
            $("#id_eide_alumn").change(function() {
                console.log("Han hecho click en el check de alumno de eide");
                if ($("#id_eide_alumn").is(":checked")) {
                    console.log("Dice que es alumno de EIDE, desactivamos el input centrename");
                    $("#id_centre_name").prop('disabled', true);
                }
                else {
                    console.log("Dice que NO es alumno de EIDE, activamos el input centrename");
                    $("#id_centre_name").prop('disabled', false);
                }
            });            
        });
    </script>

{% block cambridge_form_header %}{% endblock %}
<div class="row">
<div class="span7">
{% include "cambridge/legal.html" %}
</div> 
<div class="span5">
    {% block cambridge_form_action %}{% endblock %}
      
    {{ form|as_bootstrap }}
      
    <input id="send_form" class="submit btn-form" type="submit" value="{% trans 'Submit' %}" />
</div> 
</div> 


 
{% endblock %}
