{% extends "site_base.html"%}
{% load i18n %}
{% block body %}

<div class="hero-unit">

    <h1>{% trans "Sistema de matrícula Online para exámenes Cambridge" %}</h1>
    <br />
    <p>{% trans "Matricularse en EIDE para realizar un examen de Cambridge es sencillo, tan solo elije su tipo de examen..." %}</p>
</div>

<div class="row">
    <div class="span4 offset2">
	<p> {% trans "... si quieres realizar el examen en papel, matrículate para un Paper Based Exam:" %} </p> 
	<ul>
	{% for exam in examenes_pb %}
		   <li>{{ exam }}</li>
	{% endfor %}
	</ul>
    </div>
    <div class="span4 ">
	<p>{% trans "... si quieres realizar el examen en un ordenador, matrículate para un Computer Based Exam:" %}</p>
	<ul>
	{% for exam in examenes_cb %}
		   <li>{{ exam }}</li>
	{% endfor %}
	</ul>
    </div>
    <div class="span4 ">
	<p>{% trans "... si quieres realizar el examen en papel, matrículate para un iFor Schools:" %}</p>
	<ul>
	{% for exam in examenes_fs %}
		   <li>{{ exam }}</li>
	{% endfor %}
	</ul>
    </div>
</div>
<br />
<div class="row">
    <div class="span4 offset6">
	    <a class="btn primary large" href="{% url cambridge_nueva %}">
	    {% trans "Matricúlate" %}</a>
    </div>
</div>

{% endblock %}
