{% extends "site_base.html"%}
{% load i18n %}
{% block body %}
<div class="hero-unit">
    <h1>{% trans "Wellcome to EIDE online registration system" %}</h1>
    <p>{% trans "Matricularse en EIDE para realizar un examen de Cambridge es sencillo, tan solo elija su tipo de examen..." %}</p>
    <div class="row">
		<div class="span6">
			<a class="btn primary large" href="{% url cambridge_nueva %}">
					{% trans "Matricularse para un examen normal" %}</a>
		</div>
		<div class="span6">
			<a class="btn primary large" href="{% url cambridge_nueva_computer %}">
					{% trans "Matricularse para un examen Computer Based" %}</a>
		</div>
    </div>
</div>
{% endblock %}
