<h2>Condiciones para la foto</h2>
<div class="well well-small" style="text-align: justify; text-justify: newspape" >
<h3>FOR PET, FCE, CAE AND CPE CANDIDATES</h3>
<p>
I will bring a valid photo ID with me on the test day, and I consent to have my photo taken
by EIDE on the day of the Speaking test and/or the Written papers. I agree for this photo to
be held on the secure Cambridge ESOL Results Verification site, and the photo shall only
be available to organisations/individuals that I give my details to or that I authorise to view
my result via a download. I consent that these organisations/individuals can use these
details to verify my examination result.
<p>
</p>
By signing this form I declare that I am aware of and agree to comply with the Terms and
Conditions for this examination.
</p>
</div>
