<h2>Condiciones generales</h2>
<button type="button" class="btn btn-primary" onclick='$("#normativa_general").hide();'>Ocultar</button>
<button type="button" class="btn btn-primary" onclick='$("#normativa_general").show();'>Mostrar</button>
<div id="normativa_general" class="well well-small" style="text-align: justify; text-justify: newspape" >
<h3>1. NORMATIVA GENERAL</h3>
<p>
Para llevar a cabo una sesión de examen debe haber al menos un mínimo de 4 candidatos por nivel. La tasa 
de inscripción es válida sólo para la convocatoria en la que se ha inscrito y no es transferible a otro 
examen o a convocatorias posteriores. Dichas tasas <b>NO</b> se devuelven al candidato en caso de que éste no se 
presente a parte o a ninguno de los exámenes.
</p>
<p>
En cuanto se cierre la matrícula, se enviará el <b>COE (Confirmation of Entry)</b> con la <b>fecha y hora del examen escrito 
y oral</b> a la dirección de e-mail que ha proporcionado el candidato en la hoja de matrícula. Si una dos semana antes de 
la fecha del examen (una semana antes para el caso de los exámenes por ordenador) el candidato no ha recibido el COE, 
es <b>su responsabilidad</b> el ponerse en contacto con <b>EIDE</b> y  solicitar el COE. <b>EIDE</b> no se responsabiliza del extravío 
o no recepción del mismo y no asume ninguna responsabilidad por cualquier problema derivado del desconocimiento de la 
fecha, horarios y lugar del examen y se reserva el derecho de no admitir a candidatos que lleguen tarde.
</p>
<p>
Es responsabilidad del candidato llegar al lugar del examen con <b>15 minutos de antelación</b>. Los candidatos deben traer
un DNI o pasaporte que atestigüe su identidad en cada examen (escrito y oral).</p>
<h3>2. CANCELACIONES</h3>

<p>
Solo se admitirán cancelaciones de matrículas hasta la fecha tope de matrícula indicada en el reverso. El candidato
recibirá la devolución de la tasa de examen descontándose la cantidad de 35 € en concepto de gastos de 
administración. Pasada esta fecha sólo se admitirán cancelaciones por causas médicas en cuyo caso el candidato 
deberá presentar un CERTIFICADO MÉDICO OFICIAL. En este caso también se procederá a realizar una devolución 
de la tasa de examen menos 35 € por gastos administrativos. No se admitirán certificados médicos pasados 15 días 
de la fecha del examen escrito. No se admitirá ningún cambio o cancelación por otros motivos que no sean médicos 
después del último día de matrícula.
</p>

<h3>3. CANDIDATOS CON NECESIDADES ESPECIALES</h3>

<p>
En caso de que un candidato padezca alguna deficiencia/minusvalía (déficit auditivo, problemas de habla, etc.) y
ésta le impida realizar los exámenes en igualdad de condiciones que el resto de candidatos, le informamos que 
deberá presentar un certificado médico oficial de su discapacidad/minusvalía <b><u>en el momento de matricularse</u></b>. Ese 
certificado será enviado a Cambridge English para que decida las condiciones en las que ese candidato debe realizar 
los exámenes. <b>EIDE</b> no podrá realizar ninguna gestión para la modificación de los exámenes de los candidatos que no 
informen de su discapacidad con la suficiente antelación (es decir, durante la matriculación).
</p>

<h3>4. REVISIÓN DE RESULTADOS</h3>


<p>
Si algún candidato no está conforme con su resultado, podrá solicitar una revisión. La revisión de resultados se debe
solicitar en la Secretaría de <b>EIDE</b> siendo necesario seguir el procedimiento establecido por Cambridge English.
</p>
<ul>
<li>1. <b>Primera revisión</b>: Revisión clerical de la suma de los puntos: <b>25,00 €</b></li>
<li>2. <b>Segunda revisión</b>: Corrección de los exámenes escritos exceptuando el examen oral: <b>110,00 €</b>. </li>
</ul>
<p>Este importe
deberá abonarse en <b>EIDE</b> en el momento de hacer la solicitud de la revisión del examen. (Para solicitar esta revisión 
es imprescindible haber solicitado primero la revisión de la suma de los puntos). Una vez que el candidato reciba el 
resultado de la primera revisión podrá solicitar la segunda.
</p>
<p>
Los candidatos no podrán revisar sus exámenes físicamente ya que éstos permanecen bajo propiedad intelectual 
de Cambridge English. Cambridge English <b>NO</b> facilita ningún informe detallado de cada una de las partes en las 
que consiste el examen y nunca dará más información en la competencia de un candidato de la que aparece en el 
“Statement of Results”.	
</p>
<h3>5. LOS CERTIFICADOS</h3>

<p>
Los certificados podrán retirarse de la Secretaría de <b>EIDE</b> aproximadamente 1 mes después de la publicación de 
resultados. Éstos permanecerán en <b>EIDE</b> durante un periodo de dos años. Pasado ese periodo, se destruirán.
</p>

<h3>6. PROTECCIÓN DE DATOS</h3>

<p>
En cumplimiento con los establecido en la Ley Orgánica 15/99 de Protección de Datos de Carácter Personal, los datos 
de carácter personal que nos facilite serán utilizados en la forma y con las limitaciones y derechos que recoge la Ley y 
pasarán a formar parte de un fichero propiedad de EIDE. Estos datos son necesarios para la gestión de los exámenes 
de inglés por parte de Cambridge English y son transferidos a Cambridge English con el único fin de la prestación de 
dicho servicio. Al facilitarnos sus datos personales consiente el tratamiento informatizado o no de los mismos por EIDE
para los fines anteriormente citados.
</p>

<h3>7. AUTORIZACIÓN FOTO</h3>

<p>
Todos aquellos candidatos matriculados en los exámenes PET, FCE, CAE o CPE (salvo en el caso de la versión “for
schools”) serán fotografiados el día del examen oral o escrito. Cambridge English publicará la foto en su página web de 
Verificación de Resultados. El candidato podrá permitir el acceso al servicio si desean que verifiquen sus datos. Ninguna 
persona u organización podrá acceder a la fotografía de ningún candidato sin su autorización. Junto con la matrícula 
del examen, los candidatos deberán firmar una autorización, indicando su nombre y fecha. Si el candidato es menor de 
edad, la autorización deberá ser firmada por su madre, padre o tutor.
</p>
</div>
