{% extends "site_base.html"%}

{% load i18n %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <td>{% trans "Level" %}</td>
            <td>{% trans "Exam Date" %}</td>
            <td>{% trans "Surname" %}</td>
            <td>{% trans "Name" %}</td>
            <td>{% trans "DNI" %}</td>
            <td>{% trans "Paid" %}</td>
            <td>{% trans "Print" %}</td>
        </tr>
    </thead>
    <tbody>
        {% for matricula in object_list %}
        <tr>
            <td>{{ matricula.exam.level.name }}</td>
            <td>{{ matricula.exam.exam_date }}</td>
            <td>{{ matricula.surname }}</td>
            <td>{{ matricula.name }}</td>
            <td> <a href="{% url cambridge_edit matricula.id %}">{{ matricula.dni }}</a> </td>
            <td>{{ matricula.paid }}</td>
            <td>
                <a class="btn btn-primary" href="{% url cambridge_imprimir matricula.id %}">
                <i class="icon-user icon-white"></i>
                {% trans "Print" %}
                </a>
                <span class="add-on">
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
