{% extends "site_base.html"%}
{% load i18n %}
{% block body %}
<h1>Pago de la matrícula {{object}}</h1>

<div class="well">
    Acaba de realizar una solicitud de matrícula para: <br />
    {{object.exam}} <br />
    La matrícula se hará efectiva una vez se haya recibido el pago. El pago puede realizarse de 2 formas:
</div>

<div class="well">
    <p><b>A. ONLINE  CON TARJETA BANCARIA</b>, a través de una <b>pasarela de pago segura</b> de la CECA 
    (Confederación Española de Cajas de Ahorro), que garantiza <b>total seguridad. </b></p>
    <p>Una vez efectuado el pago, recibirá un mail de confirmación. Si no recibe dicha comunicación en el plazo de 2 días hábiles, póngase en contacto con nosotros a través del mail o teléfono indicados abajo.</p>
    <a href="{{object.generate_payment_url}}">REALIZAR EL PAGO ONLINE CON TARJETA BANCARIA</a>    
</div>

<div class="well">
    <p><b>B. A través de TRANSFERENCIA BANCARIA O INGRESO.</b> </p>
<ul>
    <li>Cuenta Bancaria (Kutxabank – BBK): <b>2095 0553 50 9108403919</b></li>
    <li>Concepto: {{object.exam.level}}-{{object.exam.exam_date}} {{object.name}} {{object.surname}}</li>
    <li>Importe: <b>{{object.exam.level.price}}</b>€</li>
</ul>
<p>Cuando realice el ingreso es recomendable adjuntar una copia del justificante de transferencia por mail, 
fax o comunicarnos que ha hecho la transferencia por teléfono. Tenga en cuenta que las transferencias pueden 
demorarse hasta 3 días y sólo se confirmará la matrícula cuando recibamos el importe en nuestra cuenta bancaria. 
En caso de que el plazo de matrícula sea muy ajustado, es recomendable optar por ingreso bancario, pago 
con tarjeta o pago en metálico en EIDE. Una vez recibido el pago, recibirá un mail de confirmación. Si no 
recibe dicha comunicación en el plazo de 4 días hábiles, póngase en contacto con nosotros a través del mail 
o teléfono indicados abajo. </p>
</div>

<div class="well">
    <h1>DATOS DE CONTACTO</h1>
    <ul>
        <li>Mail: <a href="mailto:eide@eide.es">eide@eide.es</a></li>
        <li>Tel: 94 493 70 05</li>
        <li>Fax: 94 461 57 23</li>
        <li>Dirección: Genaro Oraá 6 - 48980 Santurtzi</li>
    </ul>
</div>
{% endblock %}
