{% extends "site_base.html"%}
{% load i18n %}
{% block body %}
<h2>Lista de Schools</h2>
<table class="table">
	<thead>
		<th>Name</th><th>Description</th><th>Password</th><th>Exams</th><th>Regist. Number</th>
	</thead>
	{% for school in object_list %}
	<tr>
		<td><a href="/admin/cambridge/school/{{school.id}}/" class="icon icon-pencil">edit</a> - {{school}}</td><td>{{school.description}}</td><td>{{school.password}}</td><td>{{school.exam_count}}</td><td>{{school.registration_count}}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
