{% extends "site_base.html"%}

{% load i18n %}

{% block body %}

<h1>Solicitud Cocina {{ registration.surname }},{{ registration.name }}</h1>
<h2>Datos de Contacto</h2>
<table class="table">
	<tr>
		<td><b>Nombre</b></td><td>{{ registration.name }}</td>
	
		<td><b>Apellidos</b></td><td>{{ registration.surname }}</td>
	</tr>
	<tr>
		<td><b>Localidad</b></td><td>{{registrartion.location}}</td>
		<td><b>Fecha Nacimiento</b></td><td>{{registration.birth_date}}</td>
	</tr>
	<tr>
		<td><b>Teléfono Fijo</b></td><td>{{ registration.telephone_fijo }}</td>
		<td><b>Teléfono Móvil</b></td><td>{{ registration.telephone_movil }}</td>
	</tr>
	<tr>
		<td><b>e-mail</b></td><td>{{ registration.email }}</td>
	
		<td><b>Fecha Solicitud</b></td><td>{{ registration.registration_date }}</td>
	</tr>
	</table>
<h2>Estudios y experiencia</h2>
<table class="table">
	<tr>
		<td>Nivel de estudios</td><td>{{ registration.get_nivel_estudios_display}}</td>
		<td>Curso previo</td><td>{%if registration.curso_previo %} Sí {% else  %} No {% endif %} </td>  {% if registration.curso_previo %} <td>Tipo</td><td>{{ registration.get_curso_previo_tipo_display}}</td>{% else%}<td></td><td></td>{% endif %}<td></td><td></td>
	</tr>

	
</table>

<h2>Datos laborales</h2>
<table class="table">
	<tr>
		<td><b>Experiencia</b></td><td>{{ registration.experiencia_previa|yesno:"Sí,No" }}</td><td>{{ registrationexperiencia_previa_actividad}}</td>
	</tr>
		<tr>
		<td>Desempleado</td><td>{{ registration.desempleado|yesno:"Sí,No" }}</td>
			{% if registration.desempleado %} 
				<td>Contrato previo</td><td>{{ registration.trabajo_previo|yesno:"Sí,No" }}</td>
				<td>Duración</td><td>{{ registration.get_tiempo_desempleo_display }}</td>
			{% else%}
				<td>Trabajador de baja cualificación</td><td>{{ registration.trabajador_baja_cual|yesno:"Sí,No" }}</td>
			{% endif %}
	</tr>
</table>

<button class="btn primary" onclick="myFunction()">Imprimir</button>

<script>
function myFunction() {
    window.print();
}
</script>

{% endblock %}

