{% extends "site_base.html"%}
{% load i18n %}
{% load bootstrap_tags %}

{% block extra_head %}

<script>
	function comprobar_aceptacion() {
		console.log("Comprobamos de las condiciones");
		acepta = false;
		if ($("#id_accept_conditions").is(":checked"))
		{
		    console.log("Condiciones generales aceptadas");
			acepta = true;
		}
		if (acepta) {
		    console.log("Dice que las acepta");
		    $("#send_form").prop('disabled', false);
		    console.log("Ocultamos el aviso");
		    $("#aviso_condiciones").hide();
		}else {
		    //Deshabilitamos el envio hasta que acepten las condiciones
			console.log("Dice que NO las acepta");
			$("#send_form").prop('disabled', true);
		    console.log("Mostramos el aviso");
		    $("#aviso_condiciones").show();
		}
    }
	function comprobar_desempleado() {
		console.log("Han hecho click en el check de desempleado");
		if ($("#id_desempleado").is(":checked")) {
			console.log("Dice que esta desempleado");
			//~ $("#id_trabajador_baja_cual").prop('disabled', true);			
			$("#id_trabajo_previo").prop('disabled', false);
			$("#id_tiempo_desempleo").prop('disabled', false);			
	   }else {
			console.log("Dice que NO está desempleado");
			//~ $("#id_trabajador_baja_cual").prop('disabled', false);
			$("#id_trabajo_previo").prop('disabled', true);		
			$("#id_tiempo_desempleo").prop('disabled', true);	
		}
	};
	
	function comprobar_cursoprevio() {
		console.log("Han hecho click en el check de curso precio");
		if ($("#id_curso_previo").is(":checked")) {
			console.log("Dice que si ha hecho curso");
			$("#id_curso_previo_tipo").prop('disabled', false);
		} else  {
			console.log("Dice que no ha hecho curso");
			$("#id_curso_previo_tipo").prop('disabled', true);
		}
	}
	
	
	$(document).ready(function() {
	    $("#normativa_general").hide();
		//Comprobamos si se puede enviar
	    comprobar_aceptacion();
        comprobar_desempleado();
        comprobar_cursoprevio();
        
        //Control de la aceptación de las condiciones:
		$("#id_accept_conditions").change(comprobar_aceptacion);
	    $("#id_desempleado").change(comprobar_desempleado);
	
	    $("#id_curso_previo").change(comprobar_cursoprevio);
	
            
	});            
</script>

{% endblock%}

{% block body %}

<h1>{% trans "Solicitud" %}</h1>



<div class="well">
<p>Va a realizar una solicitud para los certificados de profesionalidad de <a href="http://eide.es/es/escuela-de-turismo-y-gestion-de-hotel-hosteleria/cocina-y-restauracion/direccion-y-produccion-en-cocina ">Dirección y Producción en 
Cocina</a> o de <a href="http://eide.es/es/escuela-de-turismo-y-gestion-de-hotel-hosteleria/cocina-y-restauracion/direccion-en-restauracion">Dirección en Restauración</a>. Si cumple los requisitos necesarios nos pondremos en contacto con usted para convocarle a una entrevista.</p>
<p>Por favor indíquenos los datos que le indicamos a continuación. Esta solicitud no implica que vaya a ser seleccionado. En caso de que convoquemos un curso de los que solicita y cumpla los requisitos, no pondremos en contacto con usted para realizar un proceso de selección.</p>
<p>Los campos con un (*) con oblitarios el resto son opcionales</p>
</div>

<div class="row">
    <div class="span12">
		<form action="" method="post"  >{% csrf_token %}
			<fieldset>
			<legend>Elije el curso(s) en los que estás interesado</legend>
			 {{form.curso_1}} <b>{{form.curso_1.label}}</b><br />
			 {{form.curso_2}} <b>{{form.curso_2.label}}</b>
			</fieldset>
			
			<fieldset>
			<legend>Datos personales</legend>
			<table>
				<tr>
					<td><b>Nombre(*):</b></td><td>{{form.name }} </td><td> <b>Apellido(s)(*):</b></td><td> {{form.surname }}  <br /></td>
				</tr>
				<tr>
					<td><b>Localidad:</b></td><td>{{form.location }}</td><td> <b>Email(*):</b> </td><td>{{form.email}}<br /></td>
				</tr>
				<tr>
					<td><b>Fecha nacimiento(*):</b></td><td> {{form.birth_date }} </td><td colspan="2" > <i>{{ form.birth_date.help_text }}</i></td>
				</tr>
		
				<tr>
					<td><b>Teléfono(*):</b></td><td>{{form.telephone_movil}}</td>
				</tr>
			</table>
			</fieldset>
			<fieldset>
			<legend>Datos de formación y laborales</legend>
			<table>
				<tr>
					<td>Nivel de estudios</td><td>{{form.nivel_estudios}}</td>
				</tr>
				<tr>
					<td>Haga click si ha cursado previamente un Certificado de Profesionalidad</td><td>{{form.curso_previo}}</td>
				</tr>
				<tr>
					<td>En caso de que haya realizado un certificado de profesionalidad previo, ¿de qué tipo?</td><td>{{form.curso_previo_tipo}}</td>
				</tr>
				<tr>
					<td>Haga click si se encuentra en situación de desempleo</td><td>{{form.desempleado}}</td>
				</tr>
				<tr>
					<td>En caso de estar en desempleo, ¿ha tenido un contrato previo?</td><td>{{form.trabajo_previo}}</td>
				</tr>
				<tr>
					<td>En caso de estar en desempleo, ¿en los últimos 18 meses cuánto tiempo lleva desempleado?</td><td>{{form.tiempo_desempleo}}</td>
				</tr>
				<tr>
					<td>Haga click si es usted trabajador de baja cualificación. Se considera trabajador de baja cualificación los incluidos en los grupos de cotización 06, 07, 09 o 10.</td><td>{{form.trabajador_baja_cual}}</td>
				</tr>
				
			</table>
			</fieldset>
			<div class="well">
			<p>En cumplimiento con los establecido en la Ley Orgánica 15/99 de Protección de Datos de Carácter Personal, los datos de carácter personal que nos facilite serán utilizados en la forma y con las limitaciones y derechos que recoge la Ley y pasarán a formar parte de un fichero propiedad de EIDE. Estos datos son necesarios para la gestión de los cursos de Hobetuz. Al facilitarnos sus datos personales consiente el tratamiento informatizado o no de los mismos por EIDE para los fines anteriormente citados.</p>
			</div>
			<fieldset>
				<b>Haga click para aceptar las condiciones de la solicutud</b> {{form.accept_conditions}}
			</fieldset>
			
<div class="row">
    <div class="span12">    
	<div class="well" id="aviso_condiciones">
	    {% trans "<b>¡Atención!.</b> Todavía no ha aceptado las condiciones. Si no acepta las condiciones generales no podrá enviar la solicitud." %}
	</div>
	<input id="send_form" class="btn primary pull-right" type="submit" value="{% trans 'Submit' %}" />
    </div> 
</div> 
		</form>
		
</div>


{% endblock %}
